/*******************************
            Colors
*******************************/

:root {
  --dark-white: #f7f7f7;
  --light-grey: #ededed;
  --grey: #d6d6d6;
  --dark-blue: #020021;
  --black: #000000;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}