/*******************************
            Footer
*******************************/

footer {
  display: flex;
  align-items: center;
  justify-content: right;
  min-height: 100px;
  color: var(--dark-white);
  background-color: var(--dark-blue);
}

footer * {
  margin-right: 6px;
}
